[submodule "schemas/nlu-schema"]
	path = schemas/nlu-schema
	url = https://github.com/mediafranca/nlu-schema.git
[submodule "schemas/ICAP"]
	path = schemas/ICAP
	url = https://github.com/mediafranca/ICAP.git
[submodule "schemas/mf-svg-schema"]
	path = schemas/mf-svg-schema
	url = https://github.com/mediafranca/mf-svg-schema.git
